@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body, .inputs, .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.describe {
  margin: 5vh;
  padding: 2vh;
  border: dotted 5px black;
}

.inputs input {
  margin-left: 0.5rem;
}

.button button {
  padding: 0.3rem;
  font-size: 1.1rem;
}

.button p {
  padding: 0.1rem 0.4rem;
  border: 1px solid black;
}
